/*********************ALL ELEMENTS*/
* {
  box-sizing: border-box;
}

body {

}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 20px;
  text-align: center;
}

img {
  width: 500px;
}
