/*********************ALL ELEMENTS*/
* {
  box-sizing: border-box;
}

body {
	background-color: #EFEFEF;
	color: #4F4D52;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 20px;
  text-align: center;
}

img {
  width: 500px;
}

.container-row {
	display: flex;
	flex-direction: column;
}

.container-column {
	display: flex;
	flex-direction: column;
}

.title {
	color: #F19F4D;
	font-weight: bold;
	font-size: 4em;
}

